@import '../../../../assets/scss/_variables.scss';
.cv{
  &-section__publication-research{
    text-align: left;
    font-family: $raleway;
    .cv-block__wrapper{
      font-family: $raleway;
      color: $greydark;
    }
    .cv-block-text{
      font-weight: $light;
      // line-height: .8;
    }
    .cv-block-publication-type{
      color: $greydark;
      font-weight: $normal;
    }
    .cv-block-publication-url{
      color: $greydark;
      font-weight: $normal;
    }
    .cv-block-publication-type,
    .cv-block-publication-title,
    .cv-block-publication-description{
      margin-bottom: 0;
    }
    .cv-block-publication-title,
    .cv-block-publication-description,
    .cv-block-publication-url{
      margin-top: 0;
    }
    .cv-block-publication-title,
    .cv-block-publication-url{
      margin-top: .2rem;
    }
  }
}