<div class="cv-section__block-inner cv-section__publication-research">
    <h3 class="cv-section__block-title">Publication Research</h3>    
    <div class="list-item">
      <div class="cv-block__wrapper cv-block__wrapper-publication-type">
        <h4 class="cv-block-publication-type cv-block-text">
          {{p.type}}
        </h4>
      </div>
      <div class="cv-block__wrapper cv-block__wrapper-publication-title">
        <h4 class="cv-block-publication-title cv-block-text">
          {{p.title}}
        </h4>
      </div>
      <div class="cv-block__wrapper cv-block__wrapper-publication-description">
        <h4 class="cv-block-publication-description cv-block-text">
          {{p.description}}
        </h4>
      </div>
      <div class="cv-block__wrapper cv-block__wrapper-publication-url">
        <h4 class="cv-block-publication-url cv-block-text">
          {{p.url}}
        </h4>
      </div>
    </div>
</div>