<h1 class="display-4 dashboard-title">Work Experiences</h1>
<hr>
<form>
  <div class="form-group">
    <label for="work-position">Position</label>
    <input type="text" [(ngModel)]="work.position" [ngModelOptions]="{standalone: true}" class="form-control" id="work-position" placeholder="Example: Web Developer" >
  </div>
  <div class="form-group">
    <label for="work-company">Company</label>
    <input type="text" [(ngModel)]="work.company" [ngModelOptions]="{standalone: true}" class="form-control" id="work-company" placeholder="Example: Mirum Agency">
  </div>
  <div class="form-group">
    <label for="work-period">Period</label>
    <input type="text" [(ngModel)]="work.period" [ngModelOptions]="{standalone: true}" class="form-control" id="work-period" placeholder="Example: January 2016 - February 2017">
  </div>
  
  <div class="form-group">
    <label for="work-description">Work Description</label>
    <textarea  [(ngModel)]="work.description" [ngModelOptions]="{standalone: true}" class="form-control" id="work-description" rows="3"></textarea>
  </div>
  <div class="form-group">
  	<button class="btn btn-default" type="submit" (click)="createWork()">
  		Submit
  	</button>
  </div>
</form>
<div></div>
<hr>

<div class="col-md-12">
  <div class="row">
    <div class="col-md-6" *ngFor="let w of works | async"> 
      <div class="card mb-3" style="width: 100%;">
        <div class="card-body">
          <h4 class="card-title">{{w.position}}</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{w.company}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">{{w.period}}</h6>
          <p class="card-text">
            {{w.description}}
          </p>
          <a class="card-link"><i class="material-icons">mode_edit</i></a>
          <a class="card-link" (click)="deleteWork(w.$key)"><i class="material-icons">delete</i></a>
        </div>
      </div>
      
     <!-- 
      
      
      <button class="btn btn-default" >
          
        </button> -->
  </div>
 
  </div>
</div>