<div class="container-fluid" [class.container-hidden]="menuOpen">
	<div class="row">
		<div class="side-menu side-menu__offcanvas" [class.side-menu--open]="menuOpen">
			<ul class="side-menu__dashboard">
				<li class="side-menu__item">
					<a routerLink="main-profile">Main Profile</a>
				</li>
				<li class="side-menu__item">
					<a routerLink="personal-detail">Personal Detail</a>
				</li>
			  <li class="side-menu__item">
					<a routerLink="work">Work Experiences</a>
			  </li>
			  <li class="side-menu__item">
			  	<a routerLink="projects">Project</a>
			  </li>
			  <li class="side-menu__item">
					<a routerLink="educations">Education</a>
			  </li>
			  <li class="side-menu__item">
			  	<a routerLink="skill">Skill</a>
			  </li>
			  <li class="side-menu__item">
			  	<a routerLink="training">Training</a>
			  </li>
			  <li class="side-menu__item">
					<a routerLink="publication">Publication & Research</a>
			  </li>
			  <li class="side-menu__item">
			  	<a  href="javascript:void(0)" (click)="this.authService.logout()">Logout</a>
			  </li>
			</ul>
		</div>

		<div class="col-md-12 main-content" [class.main-content--resize]="menuOpen">
			<span class="open-menu	" (click)="menuOpen = !menuOpen;">
			<i class="material-icons">menu</i>
			</span>

			<router-outlet></router-outlet>
		</div>	
	</div>
</div>
