@import '../../../../assets/scss/_variables.scss';

.cv{
	&-section__personal-main-photo{
      text-align: right;
      margin-bottom: 1rem;
      @media screen and (max-width: 767px){
        text-align: center;
      }
      img{
        width:60%;
        display: inline;
        @media screen and (max-width: 767px){
          width: 100%;
        }
      }
    }

    &-section__personal-main{
      text-align: right;
      font-family: $raleway;
      @media screen and (max-width: 767px){
        text-align: center;
      }
      .cv-block__wrapper{

      }
      .cv-block-name{
        font-weight: $bold;
        font-size: 10rem;
        line-height: .7;
        margin-top:0;
        margin-bottom:0;
      }
      .cv-block-position{
        font-weight: $light;
        font-size: 6rem;
        margin-top:0;
        margin-bottom:0;
      }
      .cv-block-phone,
      .cv-block-address,
      .cv-block-email,
      .cv-block-linkedin,
      .cv-block-github {
        font-weight: $light;
        font-size: 1.7rem;
        margin-top:0;
        margin-bottom:0;
      }
    }
}