<div class="cv-section__block-inner cv-section__personal-main">
	<div class="cv-section__personal-main-photo">
		<img src="./assets/images/photo.jpg" class="img-fluid" alt="">
	</div>
	<div class="cv-block__wrapper-name cv-block__wrapper">
		<h1 class="cv-block-name">Willi</h1>
	</div>
	<div class="cv-block__wrapper-position cv-block__wrapper">
		<h4 class="cv-block-position">web developer</h4>
	</div>
	<div class="cv-block__wrapper cv-block__wrapper-phone">
		<h4 class="cv-block-phone">+62 857 2030 8893</h4>
	</div>
	<div class="cv-block__wrapper cv-block__wrapper-address">
		<h4 class="cv-block-address">Kawista no. 3 Cigadung Bandung</h4>
	</div>
	<div class="cv-block__wrapper cv-block__wrapper-email">
		<h4 class="cv-block-email">willi.ilmukomputer@gmail.com</h4>
	</div>
	<div class="cv-block__wrapper cv-block__wrapper-linkedin">
		<h4 class="cv-block-linkedin">https://id.linkedin.com/in/willidev</h4>
	</div>
	<div class="cv-block__wrapper cv-block__wrapper-github">
		<h4 class="cv-block-github">https://github.com/willi-dev</h4>
	</div>
</div>