<div class="cv-section__block-inner cv-section__personal-detail">
	<h3 class="cv-section__block-title">Personal Detail</h3>

	<div class="list-item">
		<div class="cv-block__wrapper cv-block-placedatebirth">
			<h4 class="cv-block-placedatebirth cv-block-text">Place, Date of Birth <span class="value">05 april 1989</span></h4>
		</div>
		<div class="cv-block__wrapper cv-block__wrapper-gender">
          <h4 class="cv-block-gender cv-block-text">Gender <span class="value">{{person.gender}}</span></h4>
        </div>
        <div class="cv-block__wrapper cv-block__wrapper-language">
          <h4 class="cv-block-language cv-block-text">Language <span class="value">{{person.language}}</span></h4>
        </div>
        <div class="cv-block__wrapper cv-block__wrapper-religion">
          <h4 class="cv-block-religion cv-block-text">Religion <span class="value">{{person.religion}}</span></h4>
        </div>
	</div>
</div>
