@import '../../../../assets/scss/_variables.scss';
.cv{
	&-section__training{
		text-align: right;
		font-family: $raleway;
		@media screen and (max-width: 767px){
        text-align: left;
      }
		.cv-block__wrapper{
			font-family: $raleway;
			color: $greylight-3;
		}
		.cv-block-text{
			font-weight: $light;
			line-height: .8;
		}
		.cv-block-training-name{
			color: $black;
			font-weight: $bold;
		}
	}
}