<h1 class="display-4 dashboard-title">Training</h1>
<hr>

<form>
  <div class="form-group">
    <label for="training-name">Training Name</label>
    <input type="text" [(ngModel)]="training.name" [ngModelOptions]="{standalone: true}" class="form-control" id="training-name" placeholder="Example: Pelatihan dasar action script 2.0">
  </div>
  <div class="form-group">
    <label for="training-place">Training Place</label>
    <input type="text" [(ngModel)]="training.place" [ngModelOptions]="{standalone: true}" class="form-control" id="training-place" placeholder="Example: Ilmu Komputer UPI Bandung">
  </div>
  <div class="form-group">
    <label for="training-year">Year</label>
    <input type="text" [(ngModel)]="training.year" [ngModelOptions]="{standalone: true}" class="form-control" id="training-year" placeholder="Example: 2012">
  </div>
  <div class="form-group">
  	<button class="btn btn-default" type="submit" (click)="createTraining()">
  		Submit
  	</button>
  </div>
</form>

<hr>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Training</th>
      <th scope="col">Organizers / Place</th>
      <th scope="col">Year</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of trainings | async">
      <th scope="row"></th>
      <td>{{t.name}}</td>
      <td>{{t.place}}</td>
      <td>{{t.year}}</td>
      <td>
        
      </td>
    </tr>
  </tbody>
</table>