@import '../../../../assets/scss/_variables.scss';

.skill{
	
	&-badge{
		padding: 5px 10px; 
		border-radius: 5px;
		color: $white;
		margin: 5px;
		display: inline-block;

		.badge-delete{
			cursor: pointer;
		}

		i{
			font-size: 10px;
		}

		&__primary{
			background-color: $primary;
		}

		&__related{
			background-color: $success;
		}

	}
}