<div class="cv-section__block-inner cv-section__skills">
  <h3 class="cv-section__block-title">Skills</h3>
    <div class="list-item">
      <div class="cv-block__wrapper cv-block__wrapper-skills-main">
        <h4 class="cv-block-skills-main cv-block-text">
          {{skill.main_skills}}
        </h4>
      </div>
      <div class="cv-block__wrapper cv-block__wrapper-skills-related">
        <h3 class="cv-block-skills-related-title cv-block-text">Related Development Tools</h3>
        <h4 class="cv-block-skills-related cv-block-text">
          {{skill.related_tools}}
        </h4>
      </div>
    </div>
</div>
