
<h1 class="display-4 dashboard-title">Education</h1>
<hr>

<form>
  <div class="form-group">
    <label for="education-school">School</label>
    <input type="text" [(ngModel)]="education.school" [ngModelOptions]="{standalone: true}" class="form-control" id="education-school" placeholder="Example: SMA Negeri 19 Bandung">
  </div>
  <div class="form-group">
    <label for="education-period">Education Period</label>
    <input type="text" [(ngModel)]="education.period" [ngModelOptions]="{standalone: true}" class="form-control" id="education-period" placeholder="Example: January 2016 - February 2017">
  </div>
  
  <div class="form-group">
    <label for="education-description">Education Description</label>
    <textarea [(ngModel)]="education.description" [ngModelOptions]="{standalone: true}" class="form-control" id="work-description" rows="3"></textarea>
  </div>
  <div class="form-group">
  	<button class="btn btn-primary" type="submit" (click)="createEducation()">
  		Submit
  	</button>
  </div>
</form>

<hr>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">School</th>
      <th scope="col">Period</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of educations | async">
      <th scope="row"></th>
      <td>{{e.school}}</td>
      <td>{{e.period}}</td>
      <td>{{e.description}}</td>
      <td>
        <button class="btn btn-warning" (click)="deleteEducation(e.$key)">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>