<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mb-5">Dashboard Login</h2>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <span class="anchor" id="formLogin"></span>

                    <!-- form card login -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="mb-0">Login</h3>
                        </div>
                        <div class="card-body">
                            <span class="error" *ngIf="this.authService.error">{{ this.authService.error }}</span>
                            <form #formData='ngForm' class="form" role="form" autocomplete="off" (ngSubmit)="loginEmail(formData)">
                                <div class="form-group">
                                    <label for="useremail">Email</label>
                                    <input type="email" class="form-control" (ngModel)="useremail" name="useremail" id="useremail" required="" placeholder="email...">
                                </div>
                                <div class="form-group">
                                    <label for="userpassword">Password</label>
                                    <input type="password" class="form-control" (ngModel)="userpassword" name="userpassword" id="userpassword" required="" placeholder="password..." autocomplete="new-password">
                                </div>
                                <button type="submit" class="btn btn-outline-primary btn-block">Login</button>
                                <!-- <div class="form-check small">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input"> <span>Remember me on this computer</span>
                                    </label>
                                </div> -->
                                <!-- <button type="button" class="btn btn-outline-primary btn-block" (click)="loginGoogle()">Login</button> -->
                            </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->
                </div>
            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
