<div id="app">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-5 col-md-5">
				<div class="cv-section__block--left cv-section__block">
					<app-cv-profile></app-cv-profile>

					<app-cv-detail></app-cv-detail>

					<app-cv-education></app-cv-education>

					<app-cv-skill></app-cv-skill>

					<app-cv-training></app-cv-training>

					<app-cv-publication></app-cv-publication>

				</div>
			</div>

			<div class="col-12 col-sm-7 col-md-7 col-lg-7">
				<div class="cv-section__block--right cv-section__block">
								
					<app-cv-work></app-cv-work>

					<app-cv-project></app-cv-project>

				</div>
			</div>
		</div>
	</div>
</div>