@import '../../../../assets/scss/_variables.scss';


.main-profile{

	&__row{
		
	}

	&__col{

		&--left{
			text-align: right;
		}

		&--right{
			text-align: left;

		}
	}

	&__row-edit{
		text-align: center;
	}
}