/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/_variables.scss';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

button{
	cursor: pointer;
}
